<div>
    <BinaryOption @label="Exam?" />
    <DropdownOption
        @label="Lens Type"
        @optionGroupName="Types"
        @options={{this.lensOptions}}
    />
    <DropdownOption
        @label="Lens Material"
        @optionGroupName="Materials"
        @options={{this.lensMaterials}}
    />
    <CheckboxOptions
        @label="Misc. Lens Treatments"
        @optionGroupName="miscLensTreatments"
        @options={{this.miscLensOptions}}
    />
</div>